@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~/antd/dist/antd.css';

@layer base {
  :root {
    --background: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --ring: 215 20.2% 65.1%;
  }
}
